<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <button type="button" class="btn btn-outline-light" routerLink="/profile">Back</button>
      </li>
    </ul>
    <form class="form-inline mt-2 mt-md-0">
      <button [ngClass]={active:tabs[0]} class="btn btn-outline-light ml-1" (click)="changeContent(0)">Poll</button>
      <button [ngClass]={active:tabs[1]} class="btn btn-outline-light ml-1" (click)="changeContent(1)">Stats</button>
    </form>
    <ul class="navbar-nav mr-0 ml-auto">
      <li class="nav-item active">
        <button type="button" class="btn btn-outline-light" routerLink="/">Exit</button>
      </li>
    </ul>
  </div>
</nav>

<div *ngIf="tabs[0]&&poll!=null" class="container">
  <div class="row">
    <h3>{{poll.name}}</h3>
  </div>
  <div class="row justify-content-center">
      <div *ngFor="let quest of poll.questions;let i=index;" class="col-10 block p-3 bg-light mb-2 rounded">
        <div class="title">
          <h3>{{i+1}}<span *ngIf="quest.required=='Yes'">*</span> . {{quest.textTitle}}</h3>
        </div>
        <div  class="answers">
          <ul>
            <li *ngFor="let answer of quest.answers" class="alert alert-info mb-1"><span>{{answer.text}}</span></li>
          </ul>
        </div>
      </div>
  </div>
  <div class="row justify-content-center">

      <div class="btn-group mt-3 mb-5 ml-auto mr-auto">
        <label class="btn btn-outline-info ml-2" [(ngModel)]="poll.status"
               btnRadio="blocked" tabindex="0" (click)="openModal(templateConfirm)">Block</label>
        <label class="btn btn-outline-info" [(ngModel)]="poll.status"
               btnRadio="active" tabindex="0" (click)="openModal(templateConfirm)">Active</label>
      </div>

  </div>
</div>

<ng-template #templateConfirm>
  <div class="modal-body text-center">
    <p>Do you want to change status this poll?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="modalRef.hide()" >No</button>
  </div>
</ng-template>

<app-stats *ngIf="tabs[1]"></app-stats>
