<!--<app-nav></app-nav>-->

<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 ml-auto mr-auto ">
      <form class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Скопируйте и пошлите своим респодентам ссылку:</h1>
        <label for="inputLink" class="sr-only"></label>
        <input type="text" id="inputLink" class="form-control"
               value="https://www.survio.com/survey/d/L6S1D9E7K3K1W1J5X" required autofocus>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Копировать</button>
      </form>
    </div>
  </div>
</div>
