<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <button type="button" class="btn btn-outline-light" routerLink="/homePage">Home</button>
      </li>
    </ul>
    <ul class="navbar-nav mr-0 ml-auto">
      <li class="nav-item active">
        <button type="button" class="btn btn-outline-light" routerLink="/">Exit</button>
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-5">
  <div *ngIf="polls?.length==0" class="row justify-content-center">
    <h2>No polls!</h2>
  </div>
  <div class="justify-content-center " *ngIf="polls?.length!=0">
    <div class="row align-items-start mb-4 ">
      <div class="col-md-3">
        <div class="row align-items-end">
          <label class="col-md-4 text-right"><h5>Select:</h5> </label>
          <select (change)="getPolls(1)" [(ngModel)]="select" class="browser-default custom-select col-md-8">
            <option value="all" selected>all</option>
            <option value="drafts">Drafts</option>
            <option value="activePolls">Polls with link</option>
            <option value="theme_{{theme}}" *ngFor="let theme of themes">{{theme}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-5">
        <div class="row">
          <label class="col-md-3 text-right"><h5>Sort by:</h5></label>
          <select [(ngModel)]="sort" (change)="getPolls(1)" name="sort" class="browser-default custom-select col-md-6">
            <option value="name" selected>Title</option>
            <option value="date">Date of addition</option>
            <option value="idTheme">Theme</option>
            <option value="status">Status</option>
          </select>
          <select [(ngModel)]="order" (change)="getPolls(1)" name="order" class="browser-default custom-select col-md-2">
            <option value="ASC" selected>ASC</option>
            <option value="DESK">DESC</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <form class="form-inline row" >
          <input type="text" class="form-control col-md-6" placeholder="Search" name="search" [(ngModel)]="search" required>
          <button class="btn btn-success col-md-3" [disabled]="!search" (click)="getPolls(1)">Search</button>
        </form>
      </div>
    </div>
    <div *ngIf="searchResult" class="row">
      <h3 class="col-auto">{{searchResult}}:</h3>
    </div>
    <div class="row justify-content-center">
      <div class="col-4 pr-2 mb-3"  *ngFor="let poll of polls;let i=index;">
        <div class="card border-info myStyle mb-3" style="max-width: 18rem;">
          <div class="card-header color-card border-info">
            <div class="row">
              <h5 class="col-9">{{poll.name}}</h5>
              <div *ngIf="poll.link==null" class="col-3 small text-right text-light mr-0">Draft</div>
            </div>
          </div>
          <div class="card-body">
            <h6 class="card-text">Theme: {{poll.theme}}</h6>
            <p class="card-text">Description: {{poll.description}}</p>
            <div *ngIf="poll.status!='blocked'" class="alert alert-success">Status: {{poll.status}}</div>
            <div *ngIf="poll.status=='blocked'" class="alert alert-danger">Status: {{poll.status}}</div>
            <div class="float-right">
              <span>{{poll.date|date}}</span>
            </div>
          </div>
          <div class="card-footer color-card  border-info">
            <div class="btn-group btn-block">
              <button type="button" class="btn btn-sm btn-light mr-1" (click)="goToPollQuestion(poll.id)">View</button>
              <button type="button" class="btn btn-sm btn-light" (click)="goToStat(poll.id)">Stats</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="polls?.length!=0" class="row justify-content-center mt-3 ">
      <pagination [boundaryLinks]="true" [itemsPerPage]="size" [totalItems]="page?.totalElements"  (pageChanged)="pageChanged($event)" [(ngModel)]="currentPage"
                  previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
      </pagination>
      <select [(ngModel)]="size" (click)="getPolls(1)" name="size" class="browser-default custom-select col-1 ml-2">
        <option value="6">6</option>
        <option value="12">12</option>
        <option value="48">48</option>
        <option value="96">96</option>
      </select>
    </div>
  </div>
</div>
