<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <button type="button" class="btn btn-outline-light" routerLink="/homePage">Home</button>
      </li>
    </ul>
    <form *ngIf="role!='admin'" class="form-inline mt-2 mt-md-0">
      <button [ngClass]={active:tabs[0]} class="btn btn-outline-light ml-1" (click)="changeTab(0)">Poll</button>
      <button  [ngClass]={active:tabs[1]} class="btn btn-outline-light ml-1" (click)="changeTab(1)">Сollecting answers</button>
      <button [ngClass]={active:tabs[2]} class="btn btn-outline-light ml-1" (click)="changeTab(2)">Results</button>
    </form>
    <ul class="navbar-nav mr-0 ml-auto">
      <li class="nav-item active">
        <button type="button" class="btn btn-outline-light" routerLink="/">Exit</button>
      </li>
    </ul>
  </div>
</nav>

<app-designer *ngIf="tabs[0]"></app-designer>
<app-generate-link *ngIf="tabs[1]"></app-generate-link>
<app-stats *ngIf="tabs[2]"></app-stats>
