<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <button type="button" class="btn btn-outline-light" routerLink="/home">Home</button>
      </li>
    </ul>
    <ul class="navbar-nav mr-0 ml-auto">
      <li class="nav-item active">
        <button type="button" class="btn btn-outline-light" routerLink="/">Exit</button>
      </li>
    </ul>
  </div>
</nav>


<div class="container">
  <div class="row justify-content-center align-content-center">
    <div class="col-8 justify-content-center">
      <h2 class="font-weight-bold text-center mt-3 mb-5" >Select a theme and template available for use</h2>
      <accordion>
        <accordion-group *ngFor="let theme  of themes;let i=index;" [isOpen]="i==0" class="font-weight-bold" heading="{{theme.name}}" (click)="loadPolls(i)">
          <div *ngIf="themes[i].polls==null||themes[i].polls.length==0" class="text-center">Loading...</div>
          <div *ngFor="let poll of theme.polls" class="btn btn-light btn-block" (click)="goToDesigner(poll.id)">{{poll.name}}</div>
        </accordion-group>
      </accordion>
    </div>
  </div>
</div>
