<!--<app-nav></app-nav>-->
<div class="container">
  <div class="row justify-content-center mb-5">
    <div class="col-10 text-center" *ngIf="questions==null||questions.length==0;else unset">
      <h3 class="mt-5">Poll's empty. Statistics collection has not started!</h3>
    </div>
  </div>
</div>

<ng-template #unset>
  <div class="col-10">
    <div class="mt-3 p-2 rounded bg-light" *ngFor="let quest of questions;let i=index;" >
      <h4>{{i+1}}. {{quest.textTitle}}</h4>
      <table class="table table-striped">
        <thead>
        <th scope="col">#</th>
        <th scope="col">Answer option</th>
        <th scope="col">Answers</th>
        <th scope="col">%</th>
        </thead>
        <tbody>
        <tr *ngFor="let answer of quest.answers;let j=index;">
          <th class="row justify-content-center">{{j+1}}</th>
          <th>{{answer.text}}</th>
          <th>
            <span *ngIf="answer.stats==null">0</span>
            <span *ngIf="answer.stats!=null">{{answer.stats.count}}</span>
          </th>
          <th>
            <span *ngIf="answer.stats==null">0</span>
            <span *ngIf="answer.stats!=null">{{answer.stats.percent}}</span>
          </th>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>
