<app-nav></app-nav>

<div class="container">

    <div class="row justify-content-center">
        <div *ngIf="poll.questions==null||poll.questions.length==0;else unset">
            <h3 class="mt-5">This page is empty. Create a question!</h3>
        </div>
    </div>
    <div class="row justify-content-center pb-5 mt-5">
      <button class="btn btn-outline-info" (click)="addQuest(modalAddQuest)">Add</button>
    </div>
</div>

<ng-template #unset>
  <div *ngFor="let quest of poll.questions;let i=index;" class="col-10 block p-3 bg-light mb-2 rounded">
      <div class="title">
        <h3>{{i+1}}<span *ngIf="quest.required=='Yes'">*</span> . {{quest.textTitle}}</h3>
      </div>
      <div class="notation">
        <h6>{{findDescriptionTypeById(quest.idType)}}</h6>
      </div>
      <div  class="answers">
        <ul>
          <li *ngFor="let answer of quest.answers" class="alert alert-info mb-1"><span>{{answer.text}}</span></li>
        </ul>
      </div>
      <div class="ml-auto mr-0 col-3">
        <button class="btn btn-outline-info" (click)="editQuest(quest,modalAddQuest)">Edit</button>
        <button class='btn btn-outline-danger ml-2 mr-0' (click)="openModal(template,quest.id,i)">-</button>
      </div>
    </div>
</ng-template>

<ng-template #modalAddQuest>
  <div class="modal-header">
    <input [(ngModel)]="quest.textTitle" type="text" class="form-control mr-sm-2" value="Напишите свой вопрос здесь...">
    <button type="button" class="close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body justify-content-center">
    <select [(ngModel)]="strTypeQuestion" class="custom-select" size="1">
      <option *ngFor="let type of types">{{type.description}}</option>
    </select>
    <div class="btn-group mt-2 mb-2">Required:
      <label class="btn btn-outline-info ml-2" [(ngModel)]="quest.required"
             btnRadio="No" tabindex="0" role="button">No</label>
      <label class="btn btn-outline-info" [(ngModel)]="quest.required"
             btnRadio="Yes" tabindex="0" role="button">Yes</label>
    </div>
    <ul >
      <li *ngFor="let answer of quest.answers;let i = index" class="form-inline">
        <input type="text" class="form-control mr-sm-2 col-10 " [(ngModel)]="quest.answers[i].text">
        <button class="btn btn-outline-danger my-2 my-sm-0 mr-sm-0 " (click)="deleteAnswer(i)">-</button>
      </li>
    </ul>
    <button class="btn btn-outline-success my-2 my-sm-0" (click)="addNewAnswer()">Add answer</button>
  </div>
  <div class="modal-footer">
    <button *ngIf="isNew" type="button" class="btn btn-primary" (click)="createQuestion()">Create</button>
    <button *ngIf="!isNew" type="button" class="btn btn-primary" (click)="updateQuestion()">Update</button>
  </div>
</ng-template>


<ng-template #template>
  <div class="modal-body text-center">
    <p>Do you want to delete this question?</p>
    <button type="button" class="btn btn-default" (click)="deleteQuest(idCurrQuest,indexCurQuest)" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="modalRef.hide()" >No</button>
  </div>
</ng-template>

