<div class="container py-5">
  <div class="row justify-content-center vertical-align-center">
    <div class="col-md-5 bg-light p-4">
      <h3>Give your poll a name</h3>
      <form *ngIf="poll!=null" #form="ngForm">
        <div class="form-group">
          <label>Title</label>
          <input type="text" name="title" [(ngModel)]="poll.name" class="form-control" aria-describedby="form-text" placeholder="Title" required maxlength="20" #title="ngModel">
        </div>
        <div [hidden]="title.valid || title.untouched" class="alert alert-danger">
          Enter poll title (length<20 letter)
        </div>
        <div *ngIf="checkErrorsForField('name')">
          <div class="alert alert-danger" *ngFor="let error of outErrorsForField('name')">
            {{error}}
          </div>
        </div>
        <div class="form-group">
          <label>Theme</label>
          <select [(ngModel)]="poll.theme" class="custom-select" size="1" name="type">
            <option *ngFor="let theme of themes">{{theme.name}}</option>
          </select>
          <div class="btn btn-light float-right" *ngIf="role=='admin'" (click)="openModal(modalAddTheme)">Add new theme</div>
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" [(ngModel)]="poll.description" name="description" maxlength="200"></textarea>
        </div>
        <div *ngIf="checkErrorsForField('description')">
          <div *ngFor="let error of outErrorsForField('description')">
            {{error}}
          </div>
        </div>
        <button *ngIf="poll.id==null" type="submit" class="btn btn-primary float-right" [disabled]="!form.form.valid" (click)="addPoll()">Create</button>
        <button *ngIf="poll.id!=null" type="submit" class="btn btn-primary float-right" [disabled]="!form.form.valid" (click)="addPoll()">Update</button>
      </form>
    </div>
  </div>
</div>

<ng-template #modalAddTheme>
  <div class="modal-header">
    <h3>New theme</h3>
  </div>
  <div class="modal-body justify-content-center">
    <label>Title theme</label>
    <input type="text" id="inputTheme" [(ngModel)]="newTheme" class="form-control" aria-describedby="form-text" placeholder="Theme" required>
  </div>
  <div class="modal-footer">
    <button  type="button" class="btn btn-primary" (click)="addNewTheme(newTheme)">Create</button>

  </div>
</ng-template>
