<div class="container ">
  <div class="row justify-content-end bg-dark p-2 rounded-bottom ">
    <div class="col-md-2">
      <button type="submit" routerLink="/registration" class="btn_entry btn btn-primary">Register</button>
    </div>
  </div>
  <div class="row justify-content-center my-5">
    <div class="col-md-6 rounded">
      <form  class="bg-light p-3 " [formGroup]="signInForm">
        <h3 class="text-center">Please sign in</h3>
        <div class="form-group">
          <label for="inputEmail">Email</label>
          <input type="email" id="inputEmail" class="form-control" formControlName="email"
                 name="email" placeholder="Email"/>
          <div *ngIf="isControlInvalid('email')" class="alert alert-danger">
            Incorrect format email ( Example: cat1@gmail.com)
          </div>
          <div *ngIf="errors.get('email')!=null">
            <div *ngFor="let error of errors.get('email')" class="alert alert-danger">
              {{error}}
            </div>
          </div>

          <label for="inputPassword">Password</label>
          <input  class="form-control" id="inputPassword" formControlName="password" name="password" placeholder="Password" type="password">
          <div *ngIf="isControlInvalid('password')" class="alert alert-danger">
            Incorrect lenght password ( 4 < length < 26)
          </div>
<!--          <div *ngIf="errors.get('password')!=null">-->
<!--            <div *ngFor="let error of errors.get('password')" class="alert alert-danger">-->
<!--              {{error}}-->
<!--            </div>-->
<!--          </div>-->
        </div>
        <div class="checkbox mb-3 text-center">
          <label>
            <input type="checkbox" btnCheckbox name="isRemember"  formControlName="isRemember"> Remember me
          </label>
        </div>
        <div  *ngIf="errorMassage!=null" class="alert alert-danger">{{errorMassage}}</div>
        <button type="submit" (click)="signInClick()" [disabled]="!signInForm.valid"  class="btn btn-primary btn-block" >Sign in</button>
      </form>
    </div>
  </div>
</div>
