<div class="container p-5 " >
  <div class="row"><h2 class="alert-info p-1 ml-auto mr-auto rounded col-10 text-center">(*) Mandatory questions</h2></div>
  <div class="row justify-content-center">
    <div class="col-10 block p-3 bg-light mb-2 rounded mt-3" *ngFor="let quest of quests;let i=index;">
      <div class="title">
        <h3>{{i + 1}}<span *ngIf="quest.required=='Yes'">*</span> . {{quest.textTitle}}</h3>
      </div>
      <div class="notation">
        <h6>{{typesService.findDescriptionTypeById(quest.idType)}}</h6>
      </div>
      <div class="answers ">
        <div class="btn-group btn-group-vertical col-12 p-3">
          <div class="btn-block" *ngIf="typesService.findTypeById(quest.idType)=='checkbox'">
            <label *ngFor="let answer of quest.answers;let j=index;" uncheckable class="btn btn-outline-info text-left"
                   [(ngModel)]="quest.user_answers[j]"
                   btnCheckbox>{{answer.text}}</label>
          </div>
          <div class="btn-block" *ngIf="typesService.findTypeById(quest.idType)=='radio'">
            <div btnRadioGroup [(ngModel)]="quest.user_answers">
              <label *ngFor="let answer of quest.answers; let j=index;" class="btn btn-outline-info text-left" uncheckable
                     btnRadio="{{answer.id}}">{{answer.text}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div *ngIf="errorMessage!=null" class="alert alert-warning col-10 text-center mt-4"><h4>{{errorMessage}}</h4></div>
  </div>
  <div class="row justify-content-center mt-4">
    <button class="btn btn-outline-info" (click)="submit()">Submit poll</button>
  </div>
</div>
