<app-top-nav></app-top-nav>

<div class="container justify-content-center">
  <div *ngIf="!userService.idSelectedUser" class="row justify-content-center">
    <div class="col-10">
      <div class="btn btn-success float-left" routerLink="/newPoll"><i class="fas fa-wrench"></i> Update poll
        description
      </div>
      <button *ngIf="currRole!='admin'" class="btn btn-success float-right"
              [disabled]="pollService.currPoll.questions?.length==0" (click)="submit(templateSubmitConfirm)">
        Submit poll
      </button>
    </div>
  </div>
  <div class="row justify-content-center mt-2">
    <div *ngIf="pollService.currPoll.questions==null||pollService.currPoll.questions.length==0;else unset">
      <h3 class="mt-5">This page is empty. Create a question!</h3>
    </div>
  </div>
  <div *ngIf="!userService.idSelectedUser" class="row justify-content-center pb-5">
    <button class="btn btn-outline-info" (click)="addQuest(modalAddQuest)"><i class="fas fa-plus"></i> Add</button>
  </div>

  <div *ngIf="userService.currUser.role=='admin'&&userService.idSelectedUser" class="row justify-content-center">
    <div class="btn-group mt-3 mb-5 ml-auto mr-auto">
      <label class="btn btn-outline-danger ml-2" [(ngModel)]="pollService.currPoll.status"
             btnRadio="blocked" tabindex="0" (click)="openModal(templateConfirm)"><i class="fas fa-lock"></i>
        Block</label>
      <label class="btn btn-outline-info" [(ngModel)]="pollService.currPoll.status"
             btnRadio="active" tabindex="0" (click)="openModal(templateConfirm)"><i class="fas fa-lock-open"></i>
        Active</label>
    </div>
  </div>
</div>

<ng-template #unset>
  <div class="float-right col-10 mt-3"><h2 class="font-weight-bold">{{pollService.currPoll.name}}:</h2></div>
  <div *ngFor="let quest of pollService.currPoll.questions;let i=index;" class="col-10 block p-3 bg-light mb-2 rounded">
    <div class="title">
      <h3>{{i + 1}}<span *ngIf="quest.required=='Yes'">*</span> . {{quest.textTitle}}</h3>
    </div>
    <div class="notation">
      <h6 *ngIf="quest.type=='radio'">Select one answer</h6>
      <h6 *ngIf="quest.type=='checkbox'">Select some answers</h6>
    </div>
    <div class="answers">
      <ul>
        <li *ngFor="let answer of quest.answers" class="alert alert-info mb-1"><span>{{answer.text}}</span></li>
      </ul>
    </div>
    <div *ngIf="!userService.idSelectedUser" class="float-right col-3">
      <button class="btn btn-outline-info ml-3" [hidden]="pollService.currPoll?.link"
              (click)="editQuest(quest,modalAddQuest)">
        <i class="fas fa-pencil-alt"></i> Edit
      </button>
      <button class='btn btn-outline-danger ml-1 float-right' (click)="openModal(template,quest.id,i)"
      [disabled]="pollService.currPoll?.link&&pollService.currPoll.questions?.length==1">
        <i class="fas fa-trash-alt"></i> Delete
      </button>
    </div>
  </div>
</ng-template>

<ng-template #modalAddQuest>
  <div class="modal-header">
    <div class="col-11">
      <input [(ngModel)]="quest.textTitle" type="text" class="form-control mr-sm-2 focus" placeholder="Enter question title"
             required maxlength="60" #textTitle="ngModel" >
      <div [hidden]="textTitle.valid || textTitle.untouched" class="alert alert-danger">
        Incorrect length field( ..< 45 charaсters)*front
      </div>
      <div *ngIf="errorService.checkErrorsForField('textTitle',errors)">
        <div *ngFor="let error of errorService.outErrorsForField('textTitle',errors)"
             class="alert alert-danger">{{error}}</div>
      </div>
    </div>
    <button type="button" class="close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body justify-content-center">
    <select [(ngModel)]="quest.type" class="custom-select" size="1">
      <option value="radio" selected>Select one answer</option>
      <option value="checkbox">Select some answers</option>
    </select>
    <div *ngIf="errorService.checkErrorsForField('type',errors)">
      <div class="alert alert-danger"
           *ngFor="let error of errorService.outErrorsForField('type',errors)">{{error}}</div>
    </div>
    <div class="btn-group mt-2 mb-2">Required:
      <label class="btn btn-outline-info ml-2" [(ngModel)]="quest.required"
             btnRadio="No" tabindex="0" role="button">No</label>
      <label class="btn btn-outline-info" [(ngModel)]="quest.required"
             btnRadio="Yes" tabindex="0" role="button">Yes</label>
    </div>
    <div *ngIf="errorService.checkErrorsForField('required',errors)">
      <div class="alert alert-danger"
           *ngFor="let error of errorService.outErrorsForField('required',errors)">{{error}}</div>
    </div>
    <ul>
      <li *ngFor="let answer of quest.answers;let i = index" class="form-inline">
        <input type="text" class="form-control mr-sm-2 col-10 " [(ngModel)]="quest.answers[i].text" #text="ngModel"
               required maxlength="60" placeholder="Enter answer">
        <button class="btn btn-outline-danger my-2 my-sm-0 mr-sm-0 " [disabled]="quest.answers.length==2"
                (click)="deleteAnswer(i)"><i class="fas fa-trash-alt"></i>
        </button>
        <div *ngIf="checkErrorsForAnswerField('text',answer.id,answer.text)">
          <div class="alert alert-danger"
               *ngFor="let error of outErrorsForAnswerField('text',answer.id,answer.text)">{{error}}</div>
        </div>
        <div [hidden]="text.valid || text.untouched" class="alert alert-danger">
          Incorrect length field( ..< 45 charaсters)*front
        </div>
      </li>
    </ul>
    <button class="btn btn-outline-success my-2 my-sm-0" [disabled]="quest.answers.length==7" (click)="addNewAnswer()">
      <i class="fas fa-plus"></i> Add answer
    </button>
    <div *ngIf="!quest?.answers.length" class="alert alert-danger">
      Creating a question without answer options is prohibited
    </div>
    <div *ngIf="errorService.checkErrorsForField('withoutAnswer',errors)">
      <div class="alert alert-danger"
           *ngFor="let error of errorService.outErrorsForField('withoutAnswer',errors)">{{error}}</div>
    </div>
  </div>
  <div class="modal-footer">
    <button *ngIf="isNew" [disabled]="!isValidQuest()" type="button" class="btn btn-primary"
            (click)="createQuestion()">Create</button>
    <button *ngIf="!isNew" [disabled]="!isValidQuest()" type="button" class="btn btn-primary"
            (click)="updateQuestion()">Update</button>
  </div>
</ng-template>


<ng-template #template>
  <div class="modal-body text-center">
    <p>Do you want to delete this question?</p>
    <button type="button" class="btn btn-default" (click)="deleteQuest(idCurrQuest,indexCurQuest)">Yes</button>
    <button type="button" class="btn btn-primary" (click)="modalRef.hide()">No</button>
  </div>
</ng-template>

<ng-template #templateConfirm>
  <div class="modal-body text-center">
    <p>Do you want to change status this poll?</p>
    <button type="button" class="btn btn-default" (click)="confirm()">Yes</button>
    <button type="button" class="btn btn-primary" (click)="modalRef.hide()">No</button>
  </div>
</ng-template>

<ng-template #templateSubmitConfirm>
  <div class="modal-body text-center">
    Do you want to change link this poll? <h6 class="red-text">All respondents with an old link will
    lose access to this poll!</h6>
    <button type="button" class="btn btn-default" (click)="generateLink()">Yes</button>
    <button type="button" class="btn btn-primary" (click)="modalRef.hide()">No</button>
  </div>
</ng-template>
