<div class="container">
  <div class="row align-content-center justify-content-center" >
    <div class="col-4 align-items-center text-center">
      <h1 class="">{{poll.title}}</h1>
      <small>{{poll.theme}}</small>
      <div class="mt-3">
        <p>
          <span>Hello,</span>
        </p>
        <p>
          <span>
            please spend a few minutes of your time
            filling out the next questionnaire.
          </span>
        </p>
      </div>
      <div class="btn btn-outline-info" routerLink="/poll">Start poll now</div>
    </div>
  </div>

</div>
