<div *ngIf="pollService.currPoll!=null" class="container">
  <div class="row align-content-center justify-content-center" >
    <div class="col-6 align-items-center text-center">
      <div *ngIf="pollService.currPoll.status=='blocked'" class="alert alert-danger"><h3>Sorry, this poll has been blocked!</h3></div>
      <h1 class="">{{pollService.currPoll.name}}</h1>
      <h5>{{pollService.currPoll.theme}}</h5>
      <div class="mt-3 ">
        <p>
          <span>Hello,</span>
        </p>
        <p>
          <span>
            please spend a few minutes of your time
            filling out the next questionnaire.
          </span>
        </p>
      </div>
      <button [disabled]="pollService.currPoll.status=='blocked'" class="btn btn-outline-info" routerLink="/poll">Start poll now</button>
    </div>
  </div>
</div>

<div *ngIf="errorMessage!=null" class="text-center mt-5">
  <h2>{{errorMessage}}</h2>
</div>
